@tailwind base;
@tailwind components;
@tailwind utilities;
.nav {
  animation: nav-shadown 1s linear both;
  animation-timeline: scroll();
  animation-range: 0 100px;
  text-color: #ffffff;
}
@keyframes nav-shadown {
  to {
    @apply shadow-lg text-emerald-400 backdrop-blur-3xl  bg-white/50 ring-white/10 rounded-2xl;
  }
}

:root {
  color-scheme: light dark;
}

html {
  font-family: 'Onest Variable', system-ui, sans-serif;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
}

